@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: no-repeat center center fixed url('assets/PaisajeCascadas.gif');
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-450px {
    width: 450px;    
}

.not-trenta-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000059;
    border: 2px solid #356abc;
    height: 700px;
    width: 500px;
    gap: 30px;
}

.what-trenta-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000059;
    border: 2px solid #356abc;
    height: 800px;
    width: 500px;
    gap: 30px;
}

.yes-trenta-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 420px;
    border-radius: 20px;
    border: 2px solid;
    background-color: #8168009e;
}

.untitle-trenta-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000059;
    border: 2px solid #356abc;
    height: 1028px;
    width: 500px;
    gap: 30px;
}

.subtitulo {
    color: #ffcd00;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

#bienvenidos input {
    display: inline-block;
}

input {
    display: none;
}

input:checked + label {
    background: #00000081;
}

.botones {
    width: 142px;
    height: 40px;
    margin: 5px;
    border-radius: 20px;
    background: #00000047;
    border: 2px solid #816800;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
}

.botones:hover, .input-juegos:hover, .input-juegos-numero:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: #00000081;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

#nombre {
    height: 30px;
    width: 300px;
    border-radius: 20px;
}

#mensaje-funcio {
    color: white;
    margin-inline-start: 89px;
    margin-inline-end: 89px;
    font-size: 22px;
}

.titulos {
    color: #ffcd00;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

.titulos-juntos {
    color: bisque;
    font-size: 20px;
    margin-block: 0;
    font-family: 'Fredoka One', cursive;
    margin-left: 21px;
}

.titulos-otro {
    color: #ffcd00;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
}

.input-juegos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: #00000047;
    border-radius: 20px;
    color: white;
}

.input-juegos-numero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: #00000047;
    border-radius: 20px;
    color: white;
    width: 65px;
    margin: 4px;
}

.input-juegos-numero-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: #fffdfd47;
    border-radius: 20px;
    color: black;
    width: 85px;
    height: 85px;
    margin-block-start: 0;
}

.input-juegos-numero-secundarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: #fffdfd47;
    border-radius: 20px;
    color: black;
    width: 60px;
    height: 60px;
    margin: 4px;
}

.input-juegos-numero-secundarios-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: #fffdfd47;
    border-radius: 20px;
    color: black;
    
    margin: 4px;
}

.input-juegos-numero-secundarios-imagenes img {
    width: 80px;
}

.display-flex {
    display: flex;
}

.display-flex-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-flex-margin {
    display: flex;
    margin: 18px;
}

.no-gab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

#juegos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #fffdfd47;
}

.card .content-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
.card img {
    width: 60px;
    position: absolute;
    top: 0;
    left: 9px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card .question-mark {
    font-size: 53px;
    top: 0px;
    left: 29px;
    position: absolute;
}

.card.flipped .content-container img {
    opacity: 1;
}

.card.flipped .content-container .question-mark {
    opacity: 0;
}
  
.card .content-container.revealed img {
    opacity: 0;
}
 
.card .content-container.revealed .question-mark {
    opacity: 1;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: auto;
  }

.mensajes-poderes {
    display: flex;
    justify-content: space-between;
    width: 142px;
    height: 176px;
    margin: 5px;
    border-radius: 20px;
    background: #00000047;
    border: 2px solid #816800;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 14px;
}

.mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 142px;
    height: 176px;
    margin: 5px;
    border-radius: 20px;
    background: #00000047;
    border: 2px solid #816800;
    color: white;
    font-family: 'Fredoka One', cursive;
} 

.mensajes img {
    width: 91px;
}

#mensajes {
    width: 446px;
    background: #3b373799;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.bloque-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.decoracion {
    color: #ffcd00;
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    margin: 0;
}

#tiempoTranscurrido {
    font-size: 24px;
    color:  black;
    
}

#tablaDatos {
    background: wheat;

}